
@font-face {
	font-family: "VulfMono";
	src: url("VulfMono-Regular.otf");
}

body {
	font-family: "VulfMono";
}

table {
	border-collapse: collapse;
	width: 500px;
}
tr {
	border: 1px solid;
}
tr td:nth-child(1), tr th:nth-child(1) {
	border-right: 1px solid;
}
.name,#totals_row td,.player_td {
	border-right: 1px solid black;
}
#totals_row td {
	text-align: center;
}
.player_td div {
	display: flex;
	justify-content: space-between;
}
td, th {
	padding: 6px;
}
td:hover {
	cursor: pointer;
}
div {
	display: flex;
}
button {
	color: white;
	text-align: center;
	cursor: pointer;
	background: rgba(0,0,0,0);
	color: #006BB6;
	padding: 7px;
	flex: 1;
}

button.active {
	box-shadow: inset 0 0 0 0px white,inset 0 5px 40px #231F20;
}
.best, .clicked {
	background-color: #00ff00;
}
#continue {
	text-align: right;
	display: none;
}

#continue a {
	text-decoration: none;
}

#updated {
	text-align: center;
	font-style: italic;	
}

#updated a {
	
}

#updated span {
	width: 100%;
	padding: 5px;
}
